// Colors -> 🖍️
$primary-color: #333333;
$secondary-color: #828282;
$light-color: #c2c2c2;
$white-color: #ffffff;

// Buttons -> 🎛️
$btn-submit-color: #2f80ed;
$btn-link-color: #2d9cdb;
$btn-exit-color: #eb5757;
